*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html
{
    line-height: 1.15;
}
body
{
    margin: 0;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6c757d;
    text-align: left;
    background-color: white;
}
.about-img
{
    margin-left: -100px;
    right: -70px;
    padding-left: 30%;
    
}
.btn
{
    
    border-radius: 100px;
   
}
.btn-white
{
    
    border: 2px solid #ffff;
    margin-left: 70%;
}
.btn-white:hover
{
    background: #ffff;
    transition: 0.5s ease;
}

.row .hero-text
{
    margin-top: 10%;

}
.nav-link
{
    color: white !important;
    font-size: 19px;
    font-weight: bolder;
    padding: 10px 10px !important;
}
.nav-link:hover
{
    border-bottom: 2px solid white;
}
.navbar
{
    border-radius: 10px;
    
}
/*=====abour section==*/
.blue-1
{
    margin-left: 1%;
    background-color: yellow;
}
 .btn-social
{
    margin: 10px   ;
}
.btn-social:hover
{
  transform: translate(0px, -10px);
}
.text-white:hover
{
   color: coral;
}

.text-dark 
{
    margin-top: 50%;
}