{% extends "basel.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<html>
    <body background="https://w.wallha.com/ws/1/VwLlk1Xb.jpg">
      <style>
        p.ex1 {
          font-size: 30px;
          margin: 150px;
          text-align: center;
}
</style>        
      
        <center>  
        <br><br>
        <b><h1 style="color: rgb(36, 20, 255);">About</h1></b>
        <br><br>
          <img src="https://c4.wallpaperflare.com/wallpaper/665/975/829/apple-free-desktop-background-wallpaper-thumb.jpg">
        <p class="ex1">
            Nutritional support is the provision of adequate nutrients to maintain a 
              healthy body weight and avoid malnutrition. The continuous delivery of 
              high-quality and cost-effective nutritional care to patients has been 
              shown to be an increasingly difficult task. It is observed that dieticians 
              are requested to carry out the nutritional assessment, to manually 
              calculate the nutritional needs and to design the everyday meal plan for 
              each patient. In most cases, these time-consuming tasks are not completed 
              due to lack of time or inadequate number of personnel. Development of a 
              computer assisted information tool with cloud-based on-line diet 
              consultation module and comparison of its efficacy with one- to-one 
              counselling would be efficiently utilized for client education intervention 
              programs. The nutrient content calculation was planned to undertake with 
              commonly consumed traditional as well as junk foods.
        </p></center>
    </body>
</html>
{% endblock %}